numpy
matplotlib
pytest
pytest-pylint
scipy
geojson
shapely
mercantile
requests
requests-mock
python-dateutil
rasterio
scikit-learn
mypy
mypy-extensions
pytest-cov
pytest-mypy
black
coverage-badge
up42-blockutils
